.filterContainer {
    display: flex !important;
    justify-content: space-between !important;
    min-height: 64px !important;
    height: auto !important;
    align-items: center !important;
}

.filterContainer>div {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: auto !important;
    padding: 0 8px !important;
}

@media screen and (max-width: 900px) {
    .filterContainer {
        flex-wrap: wrap !important;
        align-items: start !important;
        height: fit-content !important;
    }

    .filterContainer>div {
        padding: 0 !important;
    }
}